@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --todays-date: '';
}

* {
  -webkit-tap-highlight-color: transparent;
}

@layer components {
  .btn-focus {
    @apply transition duration-200 focus:outline-none focus-visible:ring-2;
  }

  .btn-today::before {
    counter-reset: todays-date var(--todays-date);
    content: counter(todays-date) !important;
  }
}
